@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
    margin: 0;
    --cblack: #0c0a09;
    --cdarkgray: #242424;
    --cgray: #6d655f;
    --clightgray: #cfcbc7;
    --cwhite: #ffffff;
    --cgreen: #2be061;
    --corange: #f07f34;
    --cred: #f36c6c;
    height: 100vh;
    max-height: 100vh;
    max-width: 100%;
    overflow: hidden;
}

* {
    font-family: 'Kanit', sans-serif;
    user-select: none;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: var(--cgray);
}

h5,
h4 {
    margin: 0;
}

#root {
    display: flex;
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    padding: 0;
}

input {
    border: none;
}

input:focus, select:focus {
    outline: none;
}

.disabled {
    opacity: 0.7;
    pointer-events: none;
}

.disabled-c > * {
    opacity: 0.7;
    pointer-events: none;
}

button:not(.disabled) {
    cursor: pointer;
}

.d-flex {
    display: flex;
}
.d-none{
    display: none;
}

main>.d-flex {
    height: 100%;
    padding: 1%;
}

.prod-map-container {
    display: flex;
    width: 50%;
    max-height: calc(100dvh - 4.9rem);
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px 10px;
    position: relative;
    background-color: var(--cdarkgray);
}

.prod-map-sub-container {
    display: flex;
    height: 100%;
}

/* CHANGE PAGE ANIMATIONS*/

.change-to-products .nav-page > :last-child,
.change-to-map .nav-page > :first-child {
    animation: darkToOrange 300ms 0s forwards;
}
.change-to-products .nav-page > :first-child,
.change-to-map .nav-page > :last-child {
    animation: darkToOrange 300ms 0s forwards reverse;
}

@keyframes darkToOrange {
    from {
        background-color: var(--cdarkgray);
        color: var(--corange);
    }
    to {
        background-color: var(--corange);
        color: var(--cdarkgray);
    }
}

.change-to-products .map,
.change-to-products .mini-prod-list,
.change-to-map .picker-section,
.change-to-map .mini-map {
    animation: compress 250ms 0s forwards;
    overflow: hidden;
}

@keyframes compress {
    from {
        max-width: 84%;
        min-width: 84%;
        background-color: var(--cdarkgray);
    }
    to {
        min-width: 15%;
        max-width: 15%;
        background-color: var(--corange);
    }
}
@keyframes compressReverse {
    from {
        background-color: var(--corange);
        min-width: 15%;
        max-width: 15%;
    }
    to {
        max-width: 84%;
        min-width: 84%;
        background-color: var(--cdarkgray);
    }
}

.change-to-products .map *,
.change-to-products .mini-prod-list *,
.change-to-map .picker-section *,
.change-to-map .mini-map * {
    animation: fadeScaleOut 300ms 50ms forwards;
}

@keyframes fadeScaleOut {
    to {
        opacity: 0;
    }
}
.change-to-products .mini-prod-list, 
.change-to-map .mini-map,
.change-to-map .map, 
.change-to-products .picker-section {
    animation-name: compressReverse;
}


/***/

.loading {
    position: absolute;
    inset: 0;
    background-color: #0000005c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    text-align: center;
}
.loading > :first-child {
    font-size: 3rem;
    color: var(--cwhite);
}
.loading * {
    color: var(--cwhite);
}

.nav-page {
    display: flex;
    width: 100%;
}

.nav-page>button {
    width: 100%;
    background-color: var(--corange);
    color: var(--cdarkgray);
    border: 2px solid var(--cdarkgray);
    border-bottom: none;
    border-radius: 8px 8px 0 0;
}

.nav-page>button.active {
    background-color: var(--cdarkgray);
    color: var(--corange);
    border-color: transparent;
}

.default-button {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border: 3px solid transparent;
    background-color: var(--corange);
    color: var(--cblack);
    border-radius: 5px;
    padding: 0.4rem;
    transition: border-color 300ms, background-color 300ms, color 300ms;
}
.default-button:hover {
    transition: border-color 300ms, background-color 300ms, color 300ms;
    border-color: var(--corange);
    color: var(--corange);
    background-color: transparent;
}
.default-button-2 {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border: 3px solid var(--cwhite);
    background-color: var(--corange);
    color: var(--cwhite);
    border-radius: 5px;
    padding: 0.4rem;
    transition: border-color 300ms, background-color 300ms, color 300ms;
}
.default-button-2:hover {
    transition: border-color 300ms, background-color 300ms, color 300ms;
    border-color: var(--corange);
    color: var(--corange);
    background-color: var(--cwhite);
}
.backgroundless-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--corange);
    font-size: 1.3rem;
    background-color: transparent;
    transition: scale 300ms, color 300ms;
}
.backgroundless-button:hover{
    scale: 1.1;
    color: var(--cwhite);
    transition: scale 300ms, color 300ms;
}

.secondary-button{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background-color: transparent;
    color: var(--cdarkgray);
    padding: 0.4rem;
    transition: color 300ms, scale 300ms;
}
.secondary-button:hover {
    scale: 1.2;
    transition: color 300ms, scale 300ms;
    color: var(--corange);
}
.back-blur {
    position: fixed;
    z-index: 50;
    inset: 0;
    background-color: #0000005c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-pop {
    text-align: center;
    padding: 1rem;
}

.buttons-confirm {
    display:flex;
    justify-content: space-between;
}

.buttons-confirm > button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}