@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
    margin: 0;
    --cblack: #0c0a09;
    --cdarkgray: #242424;
    --cgray: #6d655f;
    --clightgray: #cfcbc7;
    --cwhite: #ffffff;
    --cgreen: #6ae78f;
    --cgreen2: #6ae7905d;
    --corange: #f07f34;
    --cred: #f36c6c;
    --cred2: #f36c6c54;
    height: 100vh;
    max-height: 100vh;
    max-width: 100%;
    overflow: hidden;
    background-color: var(--cwhite);
}

* {
    font-family: 'Kanit', sans-serif;
    user-select: none;
}

a {
    color: inherit;
    text-decoration: none;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: var(--cgray);
}

h5,
h4 {
    margin: 0;
}

#root {
    display: flex;
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

[data-animations="false"] *{
    transition: none!important;
    animation-duration: 0s !important;
}

button {
    border: none;
    padding: 0;
}
input {
    border: none;
}

input:focus, select:focus {
    outline: none;
}

.disabled {
    opacity: 0.7;
    pointer-events: none;
}

.disabled-c > * {
    opacity: 0.7;
    pointer-events: none;
}

button:not(.disabled) {
    cursor: pointer;
}

.d-flex {
    display: flex;
}
.d-none{
    display: none;
}

main>.d-flex {
    height: 100%;
    padding: 1%;
}

.prod-map-container {
    display: flex;
    width: 50%;
    max-height: calc(100dvh - 4.9rem);
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px 10px;
    position: relative;
    background-color: var(--corange);
}

.prod-map-sub-container {
    display: flex;
    height: 100%;
}

/* CHANGE PAGE ANIMATIONS*/

.change-to-products .nav-page > :last-child,
.change-to-map .nav-page > :first-child {
    animation: darkToOrange 300ms 10ms forwards reverse;
}
.change-to-products .nav-page > :first-child,
.change-to-map .nav-page > :last-child {
    animation: darkToOrange 300ms 10ms forwards;
}

@keyframes darkToOrange {
    from {
        background-color: var(--cdarkgray);
        color: var(--corange);
    }
    to {
        background-color: var(--corange);
        color: var(--cdarkgray);
    }
}

.change-to-products .map,
.change-to-products .mini-prod-list,
.change-to-map .picker-section,
.change-to-map .mini-map {
    animation: compress 250ms 0s forwards;
    overflow: hidden;
}

@keyframes compress {
    from {
        max-width: 84%;
        min-width: 84%;
        background-color: var(--corange);
    }
    to {
        min-width: 15%;
        max-width: 15%;
        background-color: var(--cdarkgray);
    }
}
@keyframes compressReverse {
    from {
        background-color: var(--cdarkgray);
        min-width: 15%;
        max-width: 15%;
    }
    to {
        max-width: 84%;
        min-width: 84%;
        background-color: var(--corange);
    }
}

.change-to-products .map *,
.change-to-products .mini-prod-list *,
.change-to-map .picker-section *,
.change-to-map .mini-map * {
    animation: fadeScaleOut 300ms 50ms forwards;
}

@keyframes fadeScaleOut {
    to {
        opacity: 0;
    }
}
.change-to-products .mini-prod-list, 
.change-to-map .mini-map,
.change-to-map .map, 
.change-to-products .picker-section {
    animation-name: compressReverse;
}


/***/

.loading {
    position: absolute;
    inset: 0;
    background-color: #0000005c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    text-align: center;
}
.loading > :first-child {
    font-size: 3rem;
    color: var(--cwhite);
}
.loading * {
    color: var(--cwhite);
}

.nav-page {
    display: flex;
    width: 100%;
}

.nav-page>button {
    width: 100%;
    background-color: var(--cdarkgray);
    color: var(--corange);
    border: 2px solid var(--corange);
    border-bottom: none;
    border-radius: 8px 8px 0 0;
}

.nav-page>button.active {
    background-color: var(--corange);
    color: var(--cdarkgray);
    border-color: transparent;
}

.default-button {
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border: 3px solid transparent;
    background-color: var(--corange);
    color: var(--cblack);
    border-radius: 5px;
    padding: 0.4rem;
    transition: border-color 300ms, background-color 300ms, color 300ms;
}
.default-button:hover {
    transition: border-color 300ms, background-color 300ms, color 300ms;
    border-color: var(--corange);
    color: var(--corange);
    background-color: transparent;
}
.default-button-2 {
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border: 3px solid var(--cwhite);
    background-color: var(--corange);
    color: var(--cwhite);
    border-radius: 5px;
    padding: 0.4rem;
    transition: border-color 300ms, background-color 300ms, color 300ms;
}
.default-button-2:hover {
    transition: border-color 300ms, background-color 300ms, color 300ms;
    border-color: var(--corange);
    color: var(--corange);
    background-color: var(--cwhite);
}
.backgroundless-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--corange);
    font-size: 1.3rem;
    background-color: transparent;
    transition: scale 300ms, color 300ms;
}
.backgroundless-button:hover{
    scale: 1.1;
    color: var(--cwhite);
    transition: scale 300ms, color 300ms;
}

.secondary-button{
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background-color: transparent;
    color: var(--cdarkgray);
    padding: 0.4rem;
    transition: color 300ms, scale 300ms;
}
.secondary-button:hover {
    scale: 1.2;
    transition: color 300ms, scale 300ms;
    color: var(--corange);
}
.back-blur, .back {
    position: fixed;
    z-index: 50;
    inset: 0;
    background-color: #0000005c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back {
    background-color: transparent;
}

.confirm-pop {
    text-align: center;
    padding: 1rem;
}

.buttons-confirm {
    display:flex;
    justify-content: space-between;
}

.buttons-confirm > button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body:has(.initial-data-pop) main .main-top-bar,
body:has(.initial-data-pop) main .table-count,
body:has(.initial-data-pop) main .prod-map-container  {
    position: relative;
    overflow: hidden;
}
body:has(.initial-data-pop) main .main-top-bar::after,
body:has(.initial-data-pop) main .table-count::after,
body:has(.initial-data-pop) main .prod-map-container::after {
    content: ""; 
    position: absolute;
    z-index: 2;
    inset: 0;
    background: var(--cdarkgray)
}


.initial-data-pop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.initial-data-pop >header {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

.initial-data-pop >header>button {
    background-color: transparent;
    font-size: 1.8rem;
}

.initial-data-pop > input {
    display: none;
}

.initial-data-pop label:hover{
    background-color: var(--corange);
    color: var(--cwhite);
    transition: color 300ms, background-color 300ms;
}
.initial-data-pop label {
    transition: color 300ms, background-color 300ms;
    width: 80%;
    border: 5px solid var(--corange);
    background-color: transparent;
    color: var(--corange);
    padding: 0.8rem 0;
    justify-content: center;
    flex-direction: column;
}
.initial-data-pop label > svg {
    font-size: 4rem;
}
.initial-data-pop label >p {
    margin-bottom: 0;
    font-size: small;
}
.initial-data-pop h1 {
    color: var(--cblack);
    font-size: 1.5rem;
    margin: 0;
}
.initial-data-pop > button {
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
}

.toast-container {
    position: fixed;
    z-index: 100;
    bottom: 0.7rem;
    right: 0;
    pointer-events: none;
}

.toast {
    position: relative;
    background-color: var(--cdarkgray);
    padding: 0rem;
    max-width: 30dvw;
    min-width: 300px;
    color: var(--cwhite);
    right: -10rem;
    max-height: 0px;
    animation: toast 3000ms 200ms;
}
.toast:first-child {
    max-height: 1000px!important;
    padding: 1rem!important;
    opacity: 0;
}

.toast::after {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 0%;
    height: 0.5rem;
    background-color: var(--corange);
    animation: progress-toast 3000ms 300ms linear forwards;
}

@keyframes progress-toast {
    0% {
        width: 0%;
    }
    75%, 100% {
        width: 100%;
    }
}
@keyframes toast {
    0%, 100% {
        right: -10rem;
        max-height: 0px;
    }
    100% {
        opacity: 0;
        max-height: 1000px;
        padding: 1rem;
    }
    20%,80%,50%{
        opacity: 1;
        right: 0;
        padding: 1rem;
    }
}

.toast header {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1rem;
}

.toast header svg {
    font-size: 2rem;
}
.toast p {
    margin: 0;
    font-size: 0.8rem;
}





.account-span {
    right: 0;
    width: 10rem;
    top: calc(1rem + 0.7rem + 3px + .8rem);
    position: absolute;
    background-color: var(--cdarkgray);
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}

.account-span ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

.account-span ul button {
    width: 100%;
    background-color: var(--cdarkgray);
    color: var(--cwhite);
    padding: .5rem 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.account-span ul button p {
    margin: 0;
    font-size: .8rem;
}
.account-span ul button:hover {
    background-color: var(--corange);
    color: var(--cdarkgray);
}


/***/

.checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.checkbox:hover{
    background: rgba(0, 0, 0, 0.123);
}

.checkbox > p {
    margin: 0;
}
.checkbox button {
    background-color: transparent;
}
.checkbox svg {
    font-size: 1.5rem;
}

ol {
    padding: 0;
}

.config-pop label {
    color: var(--corange);
}

.config-pop .block {
    margin: 2rem 0;
}