.table-selector{
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}
.table-selector div {
    display: flex;
    align-items: center;
    margin: 0.2rem;
    font-size: 1.1rem;
    background-color: var(--cwhite);
    gap: 1rem;
    justify-content: space-between;
}
.table-selector div > p {
    margin: 0;
}
.table-selector div >button > p {
    margin: 0;
    opacity: 0.7;
    margin-right: auto;
}
.table-selector div >button {
    display: flex;
    width: 88%;
    align-items: center;
    gap: 0.5rem;
    border-radius: 8px;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid var(--cdarkgray);
}

.pop-content .alert *, .notifications .alert * {
    color: var(--cdarkgray);
}


.span-header {
    border: 2px solid var(--cgray);
    background-color: var(--clightgray);
    padding: 0 1rem;
    display:flex;
    align-items: center;
    gap: 0.8rem;
}

.span-header > p:first-of-type {
    margin-right: auto;
}

.event-list {
    display: flex;
    flex-direction: column-reverse;
}

.event {
    padding-left: 1rem;
    display: grid;
    grid-template-columns: 15% 83%;
    gap: 2%;
    align-items: center;
}
.event p {
    margin: 0.5rem 0;
}

.event.important > p {
    font-size: 1.2rem;
}

.event:not(.important) > p {
    padding-left: 1rem;
    color: var(--cgray);
    margin: 0.2rem 0;
}
