.map {
    background-color: var(--corange);
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 84%;
}

.map-header {
    display: flex;
    padding: 0.7rem 1rem 0 .8rem;
}
.map-header > select {
    margin-right: auto;
}

.edit-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: auto;
    width: 100%;
    justify-content: end;
}

.edit-container > button.default-button {
    padding: 0.3rem;
}

.edit-container > .active {
    background-color: var(--cred);
    color: var(--cdarkgray);
    border-color: var(--cdarkgray);
}
.edit-container > .active:hover {
    color: var(--cwhite);
    border-color: var(--cwhite);
}

.align-tables {
    padding: .5rem;
    margin-right: auto;
}

/***/

.map-display {
    position: relative;
    height: 100%;
    padding: 0.7rem;
}
.trash {
    position: absolute;
    z-index: 2;
    left: 1.5rem;
    bottom: 1.5rem;
    background-color: transparent;
    color: var(--cwhite);
    border-radius: 6px;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: scale 300ms, background-color 300ms;
}
.trash.hover {
    transition: scale 300ms, background-color 300ms;
    scale: 1.1;
    background-color: var(--cred);
}

.map-display.edit > .trash {
    left: 1rem;
}

.zoom-container{
    display: flex;
    align-items: center;
    background-color: var(--corange);
    color: var(--cwhite);
    border-radius: 3px;
    position: absolute;
    z-index: 2;
    right: 1rem;
    bottom: 1rem;
    width: fit-content;
}
.zoom-container > p {
    margin: 0;
    color: var(--clightgray);
    background-color: var(--cdarkgray);
    border-radius: 5px;
    padding: 0 0.5rem;
    margin: 0.1rem 0;
}
.zoom-container > button {
    background-color: transparent;
    color: var(--cblack);
    font-size: 1rem;
    padding: 0 0.5rem;
}

.center-map {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: absolute;
    right: 1rem;
    font-size: 1rem;
    background-color: var(--corange);
    border-radius: 5px;
    padding: .5rem;
    color: var(--cblack);
    bottom: 3rem;
}

.background {
    background-color: var(--cblack);
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.draggable {
    width: 2000px;
    height: 2000px;
    position: absolute;
    cursor: all-scroll;
    background-image:  linear-gradient(var(--cdarkgray) 1px, transparent 1px), linear-gradient(to right, var(--cdarkgray) 1px, #131313 1px);
    background-size: 20px 20px;
    transition: scale 300ms;
}

.table {
    background-color: var(--clightgray);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
}
.table.selected::after {
    content: "";
    border: 1px solid var(--cwhite);
    position: absolute;
    inset: -0.35rem;
    pointer-events: none;
}
[data-edit="true"] .table {
    cursor: grab;
}
[data-edit="true"] .table:focus {
    cursor: grabbing;
}

.edit-name {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;   
    background-color: var(--corange);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:text;
    z-index: 2;
}
.edit-name.delete {
    cursor: pointer;
    background-color: var(--cred);
}
.table:has(.edit-name.delete:hover) {
    transition: opacity 200ms;
    opacity: .7;
}
.resize {
    position: absolute;
    background-color: var(--corange);
    border: 1px solid var(--cwhite);
    right: -0.2rem;   
    width: 0.5rem;
    height: 0.5rem;
    top: auto;
    bottom: -0.2rem;
    cursor: se-resize;
    z-index: 2;
}
.edit-name > *, .resize * {
    pointer-events: none;
}
[data-edit="true"] .table p[contenteditable="true"] {
    pointer-events: all;
}

.table > p {
    padding: 0.5rem;
    margin: 0;
    pointer-events: none;
}