.mini-prod-list, .mini-map {
    background-color: var(--cdarkgray);
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    min-width: 15%;
    width: 20%;
    border: 2px solid var(--corange);
    border-top: none;
    position: relative;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

.mini-prod-list > ul::-webkit-scrollbar,
.mini-map > ul::-webkit-scrollbar {
    width: 0;
}
.mini-prod-list > ul, 
.mini-map > ul 
{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    padding: 0.2rem;
    margin: 0;
    overflow-y:auto;
    overflow-x: hidden;
    max-height: calc(100% - 4.8rem);
}
.mini-map > ul {
    max-height: calc(100% - 8.8rem);
}
.mini-prod-list::after, .mini-map::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    height: 4rem;
    width: 100%;
    background: linear-gradient(180deg, transparent, var(--cdarkgray));
    pointer-events: none;
}
.mini-prod-list > button,
.mini-map > button
{
    background-color: transparent;
    color: var(--corange);
    font-size: 1.3rem;
    margin: 0 0.2rem;
    padding: 0.5rem 0;
    border-radius: 5px;
}

.mini-prod-list > button:hover,
.mini-map > button:hover,
.mini-prod-list > ul button:hover,
.mini-map > ul button:hover {
    background-color: var(--cblack);
    color: var(--corange);
} 
.mini-map > ul button:hover {
    transition: font-size 100ms;
    font-size: 1.5rem;
}
.mini-prod-list > ul button,
.mini-map > ul button
{ 
    background-color: var(--cdarkgray);
    border: 3px solid var(--cdarkgray);
    border-radius: 5px;
    min-height: 3rem;
    color: var(--clightgray);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}


.mini-map > ul button.selected {
    outline: auto;
}
